.allinone_carousel_list {
	margin:0;
	padding:0;
	list-style:none;
	display:none;
}

.allinone_carousel .contentHolder {
	position:relative;
	overflow:hidden;
}
.mycanvas {
	position:absolute;
	right:10px;
	z-index:1000;
}

.myloader {
	background:url(skins/loader.gif);
	width:37px;
	position:absolute;
	left:49%;
	z-index:999;
}



/***charming SKIN***/

.allinone_carousel.charming .contentHolderUnit {
	position:absolute;
	width:435px;
	height:302px;
	overflow:hidden;
	cursor: pointer;
	margin-top:20px;
	background:url(skins/charming/empty.gif) repeat;
}
.allinone_carousel.charming .bannerControls {
	position:absolute;
	left:0;
	top:0;
	z-index:101;
	width:100%;
}
.allinone_carousel.charming .bottomNavButtonOFF {
	float:left;
	display:block;
	width:0px;
	height:0px;
	background:url(skins/charming/bottomNavOFF.png) 0 0 no-repeat;
	padding-left:0px;
	cursor: pointer;
}

